# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds & packaging
dist/
build/
out/

# Logs & Environment
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# IDE & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary and cache files
.tmp/
*.tmp
*.tmp.*
